body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.container {
    width: 970px;
    margin: 0 auto;
}

label,
input,
button {
    display: block;
    margin-top: 5px;
}

button {
    background: tomato;
    color: #fff;
    border-radius: 3px;
    border: 0;
    margin-top: 10px;
    padding: 10px 25px;
    font-size: 16px;
    transition: 0.25s;
    cursor: pointer;
}

button:hover {
    background: #dc533b;
}

button:disabled {
    opacity: 0.5;
}

canvas {
  color: #fff;
  border: #fff dashed 2px;
  padding: 15px;
}


/* Variabes */
/* Mixin's */
body {
    background: #FE9A2E;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    height: 100%;
    text-align: center;
    font-size: 18px;
}

canvas {
    color: #fff;
    border: #fff dashed 2px;
    padding: 15px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
}

#alphabet {
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
}

#alphabet:after {
    content: "";
    display: table;
    clear: both;
}

#alphabet li {
    float: left;
    margin: 0 10px 10px 0;
    list-style: none;
    width: 35px;
    height: 30px;
    padding-top: 10px;
    background: #fff;
    color: #FE9A2E;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px #fff;
}
#alphabet li:hover {
    background: #FE9A2E;
    border: solid 1px #fff;
    color: #fff;
}

#my-word {
    margin: 0;
    display: block;
    padding: 0;
}

#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.6em;
}

.active {
    opacity: 0.4;
    transition: all 0.3s ease-in-out;
    cursor: default;
}
.active:hover {
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#mylives {
    font-size: 1.6em;
    text-align: center;
    display: block;
}

button {
    border-radius: 5px;
    background: #FE9A2E;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: #fff;
    border: solid 1px #fff;
    color: #FE9A2E;
}

@media (max-width: 767px) {
    #alphabet {
        padding: 0 0 0 15px;
    }
}
@media (max-width: 480px) {
    #alphabet {
        padding: 0 0 0 25px;
    }
}
